@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Ubuntu:ital,wght@0,500;0,700;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(253, 217, 170);
}

section {
    padding: 100px 0;
}

.about,
.contact,
.galleria,
footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.galleria-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: rgb(65, 108, 224);
    padding: 5px;
    background: rgb(253, 217, 170);
    ;
    transform: translateX(-50%);
}


/*Navbar*/

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: rgb(65, 108, 224);
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: rgb(65, 108, 224);
}

.navbar.sticky .logo a span {
    color: white;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a span {
    color: rgb(65, 108, 224);
}

.navbar .menu li a:hover {
    color: rgb(65, 108, 224);
}

.navbar.sticky .menu li a:hover {
    color: white;
}

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/*Home section styling*/

.home {
    display: flex;
    background: url("sfondo.jpeg") no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content a {
    display: inline-block;
    background: rgb(65, 108, 224);
    color: #fff;
    font-size: 13px;
    padding: 5px 5px;
    margin-top: 2px;
    margin-bottom: 80px;
    border-radius: 6px;
    border: 2px solid rgb(65, 108, 224);
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: rgb(65, 108, 224);
    background: none;
}

.mappa .mappa-frame {
    margin: auto;
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.mappa .mappa-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*Galleria*/

.slider-img {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.slider-img .title::before {
    content: "";
    position: relative;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

.slider-img i {
    position: relative;
    display: block;
    width: 700px;
    height: 500px;
    overflow: hidden;
    border-radius: 5px;
}

.slider-img i:before,
.slider-img i:after {
    content: '⥪';
    position: absolute;
    top: 50%;
    left: 1rem;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    background: dodgerblue;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.slider-img i:after {
    content: '⥭';
    left: auto;
    right: 1rem;
}


/* I haven't found a way for IE and Edge to let me style inputs that way */

.slider-img input {
    appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateX(100%);
    transition: transform ease-in-out 400ms;
    z-index: 1;
}

.slider-img input:focus {
    outline: none;
}

.slider-img input:after {
    content: attr(title);
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: .5rem;
    font-size: 1rem;
    border-radius: 5px;
}

.slider-img input:not(checked):before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: 50%;
    left: calc(-100% + 1rem);
}

.slider-img input:checked:before {
    display: none;
    left: 1rem;
}

.slider-img input:checked {
    transform: translateX(0);
    pointer-event: none;
    z-index: 0;
    box-shadow: -5px 10px 20px -15px rgba(0, 0, 0, 1);
}

.slider-img input:checked+input:before {
    left: -3rem;
}

.slider-img input:checked+input~input:before {
    display: none;
}

.about {
    background-color: rgb(253, 217, 170);
}


/*mappa*/

.mappa .mappa-content iframe {
    margin-bottom: 30px;
}

.mappa .mappa-content .paragraph a {
    text-decoration: none;
}

.mappa .mappa-content p {
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
}

.contact {
    background-color: rgb(253, 217, 170);
}

.contact .right {
    text-align: justify;
}

.contact .left a {
    color: #333;
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: rgb(65, 108, 224);
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right {
    text-align: justify;
}

.contact .right a {
    color: #333;
}


/*footer*/

footer {
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}

footer span a {
    color: rgb(65, 108, 224);
    text-decoration: underline;
}

footer span a:hover {
    text-decoration: underline;
}

footer .fab {
    color: #fff;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(65, 108, 224);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}


/*responsive media qiery*/

@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 13px;
        padding: 5px 5px;
        display: inline-block;
        background: rgb(65, 108, 224)
        color: #fff;
    }
    .max-width {
        max-width: 930px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
    .letture .column {
        display: flex;
    }
    .slider-img i {
        position: relative;
        display: block;
        width: 600px;
        height: 400px;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 30px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 13px;
    }
    .services .serv-content .card,
    .strumenti .strumenti-content .card {
        width: 100%;
    }
    .strumenti .container {
        width: 100%;
    }
    .letture .right {
        display: flex;
    }
    .slider-img .title {
        position: relative;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;
        font-family: 'Ubuntu', sans-serif;
        margin: 50px 50px 50px 50px;
    }
    .slider-img .title::before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 150px;
        height: 3px;
        background: black;
        transform: translateX(-50%);
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }
    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .letture .right {
        display: flex;
    }
    .slider-img i {
        position: relative;
        display: block;
        width: 400px;
        height: 400px;
        overflow: hidden;
        border-radius: 5px;
    }
    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

@media(max-width:375) {
    p {
        word-spacing: 3px;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .logo a {
        font-size: 15px;
        font-weight: 200;
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 50px;
        transition: all 0.3s ease;
        font-size: 10px;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
        display: inline-block;
        background: rgb(65, 108, 224);
        color: #fff;
    }
    .max-width {
        max-width: 930px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
    .strumenti .strumenti-content .box {
        width: 94%;
        height: 500px;
    }
    .strumenti .strumenti-content .container .cs-hidden .item-a .box .details p {
        font-size: 16px;
        width: 250px;
    }
    .letture .right {
        display: inline-flex;
    }
    .slider-img i {
        position: relative;
        display: block;
        width: 200px;
        height: 400px;
        overflow: hidden;
        border-radius: 5px;
    }
}
